* {
    margin: 0px;
    padding: 0;
}


/* Estilos Generales */

a:link
{
   color: rgb(55, 55, 107); 
}

a:visited
{
    color:rgb(39, 109, 214);
}

a:hover
{
    color:#364c88;
}

.nav-customizado
{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* Fin de estilos generales*/

/* Estilos para el header */

.anuncio {
    background-color: rgb(32, 32, 32);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.anuncio p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: white;
    padding-top: 10px;
    
}

.telefono-icon
{
    height: 50px;
    width: 50px;
    padding: 5px;
}

.logo
{
    height: 90px;
    width: 320px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.anuncio2 {
    background-color: rgb(11, 78, 180);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.anuncio2 h2{

    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    color: white;
    padding-top: 4px;
    
}


.item-menu
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    padding: 10px;
    text-decoration: none;
}



/*Fin de estilos para Header*/


/*Estilos para el Footer*/

.footer-customizado
{
   background-color: rgb(100, 99, 99);   
}

.footer-customizado p
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    color: white;
    padding-top: 5px;

}


.footer-izquierdo
{
    display: flex;
    justify-content: center;   
}


.footer-derecho
{
    display: flex;
    justify-content: center;   
}


.footer-derecho li
{
    display: inline;
    padding-right: 10px;
}

.footer-derecho img
{
    padding-top: 5px;
    height: 30px;
    width: 30px;
}
/*Fin de estilos para el footer*/